{% extends 'index.html' %}
{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <!-- <img src="https://via.placeholder.com/150" alt="404 Image" class="img-fluid mb-4"> -->
            
            <h1 class="display-4">404 Not Found</h1>
            <p class="lead">The page you are looking for does not existiert.</p>
            <button class="btn btn-primary" onclick="goBack()">Go back</button>
        </div>
    </div>
</div>


{% endblock %}