{% extends 'index.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Add User</h1>

    <form method="post" action="{{ url_for('add_user') }}">
        <div class="form-group">
            <label for="role_id">Role ID:</label>
            <input type="text" class="form-control" name="role_id" required>
        </div>

        <div class="form-group">
            <label for="surname">Surname:</label>
            <input type="text" class="form-control" name="surname" required>
        </div>

        <div class="form-group">
            <label for="lastname">Lastname:</label>
            <input type="text" class="form-control" name="lastname" required>
        </div>

        <div class="form-group">
            <label for="email">Email:</label>
            <input type="text" class="form-control" name="email" required>
        </div>

        <div class="form-group">
            <label for="firm">Firm:</label>
            <input type="text" class="form-control" name="firm" required>
        </div>

        <div class="form-group">
            <label for="studyclass">Class:</label>
            <input type="text" class="form-control" name="studyclass" required>
        </div>

        <button type="submit" class="btn btn-primary">Add User</button>
    </form>

    <a href="{{ url_for('users') }}" class="btn btn-secondary mt-3">Back to Users</a>
</div>


    {% endblock %}