{% extends 'index.html' %}

{% block content %}
    <div class="container mt-3">
        <div class="d-flex justify-content-between align-items-center">
            <button type="button" class="btn btn-primary" onclick="goBack()">Back</button>
            <h2 class="mb-0 text-center">Forgot Password 😟</h2>
            <a type="button" class="btn btn-primary" href="/login">Log in</a>
        </div>
        <p class="mt-2">Enter your email to reset your password.</p>
        <div class="form-group">
            <label for="forgotEmail">E-MAIL</label>
            <input type="email" class="form-control" id="forgotEmail" placeholder="Enter your email">
        </div>
        <button type="button" class="btn btn-primary">Link erneut versenden</button>
    </div>
{% endblock %}
