{% extends 'index.html' %}

{% block content %}
{% if error %}
        <p class="text-center" style="color: red;">{{ error }}</p>
{% endif %}
<form method="POST" action="{{ url_for('login') }}">
    <div class="centered-inputs">
        <div class="form-group">
            <label for="emailText">E-MAIL</label>
            <input type="email" class="form-control" id="emailText" name="username" placeholder="Enter your email(username)" required>
        </div>
        <div class="form-group">
            <label for="passwordText">Passwort</label>
            <input type="password" class="form-control" id="passwordText" name="password" placeholder="Enter your password" required>
        </div>
        <!-- <a href="/forgot_password" class="btn btn-link">Passwort vergessen</a> -->
        <a href="mailto:support@deschibel.de?subject=Password%20Reset&body=Pls%20reset%20my%20password,%20LG" target="_blank" class="btn btn-link">Passwort vergessen</a>
        <button class="btn btn-success btn-lg login-btn" type="submit">Login</button>
    </div>
</form>


{% endblock %}
