{% extends 'index.html' %}

{% block content %}
<div class="container mt-3">
    <div class="d-flex justify-content-between align-items-center">

        <a class="btn btn-primary" href="{{ url_for('users') }}">Back</a>
        <h2 class="mb-0 text-center">All Reports</h2>
        <!-- <a type="button" class="btn btn-primary" {% if username is defined %} href="/userpage" {% else %} href="/login"
            {% endif %}>

            {% if username is defined %}
            {{ username }}
            {% else %}
            Log in
            {% endif %}</a> -->
        {% if user is defined %}
        <a class="btn btn-primary" href="{{ url_for('edit_user', user_id=user.user_id) }}">{{user.lastname}}</a>
        {% else %}
        <a class="btn btn-primary" href="/login">Login</a>
        {% endif %}


    </div>


    <div class="text-center mt-4">
        {% if report_books %}
        <h1>eBerichsheft von {{ user.surname }} {{ user.lastname }}</h1>
        {% for report_book in report_books %}
        <div class="row">
            <div class="col-md-2">
                <!-- leer -->
            </div>
            <div class="col-md-8">
                <h2>Report Book {{ report_book.reportBook_id }}</h2>
            </div>
            <div class="col-md-2">
                <div class="btn-group">
                    <button type="button" class="btn btn-info dropdown-toggle" title="Action" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        ⚙️
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{ url_for('edit_report_book', user_id=user.user_id, reportBook_id=report_book.reportBook_id) }}">Edit Report Book</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ url_for('delete_report_book', user_id=user.user_id, reportBook_id=report_book.reportBook_id) }}">Delete Report Book</a>
                    </div>
                </div>
            </div>
        </div>
        {% if user %}
        {% if user.role.role == 'Azubi'%}
        <a href="{{ url_for('add_report', user_id=user.user_id, reportBook_id=report_book.reportBook_id) }}"
            class="btn btn-success btn-lg btn-block">+</a>
        {% endif %}
        {% endif %}
        
        <hr>
        {% for report in report_book.reports %}
        <div class="card    {% if report.status.name == 'New' %}border-info
                            {% elif report.status.name == 'In Progress' %}bg-warning
                            {% elif report.status.name == 'Declined' %}bg-danger
                            {% elif report.status.name == 'Accepted' %}bg-success
                            {% else  %}
                            {% endif %} mb-3">
                            
            <div class="card-header">KW{{ report.report_id }}</div>
            <div class="row no-gutters">
                <!-- First column for information -->
                <div class="col-md-10">

                    <div class="card-body">
                        <!-- <h5 class="card-title">{{ report.status_id }}</h5> -->
                        {%if report.status.name%}
                        <h5 class="card-title">{{ report.status.name }}</h5>
                        {%else%}
                        <h5 class="card-title" style="color: red;">no matches with lookup table</h5>
                        {%endif%}
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                </div>

                <!-- Second column for buttons -->
                <div class="col-md-2">
                    <div class="d-flex flex-column">
                        <a class="btn btn-outline-primary mb-1"
                            href="{{ url_for('view_report', user_id=user.user_id, report_id=report.report_id) }}"
                            title="Read">📖</a>
                            {% if user %}
                            {% if user.role.role == 'Azubi' or user.role.role == 'Ausbilder'%}
                            <a class="btn btn-outline-warning mb-1"
                            href="{{ url_for('edit_report', user_id=user.user_id, report_id=report.report_id) }}"
                            title="Edit">✏️</a>
                            {% endif %}
                            {% endif %}
                            {% if user %}
                            {% if user.role.role == 'Azubi' %}
                            <a class="btn btn-outline-danger" href="#" data-toggle="modal"
                            data-target="#deleteModal{{ report.report_id }}" title="Delete">❌</a>
                            {% endif %}
                            {% endif %}
                       
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="deleteModal{{ report.report_id }}" tabindex="-1" role="dialog"
            aria-labelledby="deleteModalLabel{{ report.report_id }}" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel{{ report.report_id }}">Confirm Delete</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Achtung! Wollen Sie wircklich report KW{{report.report_id}} löschen?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Noch nicht</button>
                        <a class="btn btn-danger"
                            href="{{ url_for('delete_report', report_id=report.report_id) }}">JA</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}


        <!-- <table class="table" >
                <tr>
                    <th>Report</th>
                    <th>Status</th>
                    <!-- 
                    <th>Actions</th>
                </tr>
                <tbody >
                    <hr>
                    {% for report in report_book.reports %}
                
                <tr>
                    <td>{{ report.calenderweek }}<br>
                        KW{{ report.report_id }}</td>
                    <td>{{ report.status_id }}</td>
                    <td>
                        <a href="{{ url_for('view_report', user_id=user.user_id, report_id=report.report_id) }}" title="Read">📖</a> 
                        <a href="{{ url_for('edit_report', user_id=user.user_id, report_id=report.report_id) }}" title="Edit">♻️</a>
                        <a href="{{ url_for('delete_report', report_id=report.report_id) }}" title="Delete">❌</a>
                    </td>
                    
                </tr>
                
                {% endfor %}
                   
                </tbody>
            </table> -->


        
        {% endfor %}
        {% else %}
        <p style="color: red;">No report books available for <b>{{user.surname}} {{user.lastname}}</b> yet</p>
        <a class="btn btn-success btn-lg login-btn" href="{{ url_for('add_report_book', user_id=user.user_id) }}">Add a
            Report Book?</a>


        {% endif %}

    </div>




</div>







<div class="text-center mt-4">



    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Confirm Delete</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this item?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger">Yes, Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
